{% extends 'base.html.twig' %}

{% block title %}Megacasting | {{ app.user.username }}{% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-1-12">
        <p>{{ app.user.username }}</p>
        <ul>
            <li><i class="fas fa-file-contract"></i> {{ candidat[0].nmbPostule  }}</li>
            {% for candidat in candidat %}
            <li>{{ candidat.libelleOffre  }} </li>
            {% endfor %}
            <li>{{ app.user.name }}</li>
        </ul>
    </div>
</div>
{% endblock %}
