{% extends 'base.html.twig' %}

{% block title %}MegaCasting | Accueil{% endblock %}

{% block body %}
<div class="carousel slide" data-ride="carousel" id="carouselOffer">
  <div class="carousel-inner">
    <div class="carousel-item active">
     {% for key in offre|slice(0, 1) %}
        <div class="text-center">
            <h5>{% trans %}Une nouvelle offre {% endtrans %}({{ key.intitule }}){% trans %} vient d'être ajoutée{% endtrans %}</h5>
            <p>{{ key.libelle }} {% trans %} par {% endtrans %} {{ key.client}} </p>
            <a class="btn btn-info" href="/casting/{{ key.identifiant }}">Voir les détails ...</a>
        </div>
     {% endfor %}
    </div>
    <div class="carousel-item">
        {% for key in offre|slice(1, 1) %}
        <div class="text-center">
            <h5>{% trans %}Une nouvelle offre {% endtrans %}({{ key.intitule }}){% trans %} vient d'être ajoutée{% endtrans %}</h5>
            <p>{{ key.libelle }} {% trans %} par {% endtrans %} {{ key.client}} </p>
            <a class="btn btn-info" href="/casting/{{ key.identifiant }}">Voir les détails ...</a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div> 
  <div>
    <h3>{% trans %}Megacasting : comment ça marche ?{% endtrans %}</h3>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">{% trans %}Début{% endtrans %}</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">{% trans %}Profil{% endtrans %}</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">{% trans %}Contact{% endtrans %}</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">{% trans %}Consulter les offres qui vous intéressent.{% endtrans %}</div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">{% trans %}Inscrivez-vous ou connectez-vous pour pouvoir postuler.{% endtrans %}</div>
      <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">{% trans %}Postuler avec les coodornnées données sur le casting.{% endtrans %}</div>
    </div>
  </div>
</div>

{% endblock %}