{% extends 'base.html.twig' %}

{% block title %}MegaCasting | {{ offre.intitule }}{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-6 col-sm-3">
            <article class="casting text-center"> 
                <h2 class="titredescastings mt-5 mb-5">Casting</h2>
                <p>Casting : {{ offre.intitule }}</p>
                <p>Le {{ offre.datedebut|date("d/m/Y") }}</p>
                <p>Lieu du casting : {{ offre.getLocalisation().libelle}}</p>
                <p>Description du profil : {{ offre.getDescriptionProfil() }}</p>
            </article>
        </div>
    </div>
    
        
{% endblock %}
