<h1>{{ candidat.lastname }} {{ candidat.firstname }} posutle à la proposition du casting "{{ offre.intitule }}" </h1>
<p>email : {{ candidat.login }}</p>

<a href="{{ cv.path }}"
   download="Pacman_Kiwi">Télécharger le cv</a>