<h1>{{ candidat.lastname }} {{ candidat.firstname }} posutle à la proposition du casting "{{ offre.intitule }}" </h1>
<p>email : {{ candidat.login }}</p>

<a href="http://www.megacasting.local/upload/cv/{{ cv }}"
   download >Télécharger le cv</a>